_build/**
*~
*.byte
*.cmi
*.DS_Store
*.exe
*.cmo
*.cmx
*.cma
*.cmxa
*.cmxs
*.a
*.o
*.annot
*.run
*.opt
*.native
*.log
node_modules
immutable.install
/pkg/META

# Ignore bsb generated merlin files
/reUnit/.merlin


# Ignore bsb generate lib directories
/reUnit/lib
/lib
