_build/**
*~
*.byte
*.cmi
*.DS_Store
*.exe
*.cmo
*.cmx
*.cma
*.cmxa
*.cmxs
*.a
*.o
*.annot
*.run
*.opt
*.native
*.log
*.tgz
node_modules
immutable.install

_tags
/docs
/lib/bs
/lib/js/test
/lib/js/perf
Makefile
opam
/perf
/pkg
release.js
/reUnit
/test
